<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false">
    <contextListener class="org.meteor.listener.LoggerStartupListener"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="AsyncSTDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>1024</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="STDOUT"/>
    </appender>

    <logger name="org.meteor" additvity="false" level="INFO">
        <appender-ref ref="AsyncSTDOUT"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="AsyncSTDOUT"/>
    </root>
</configuration>

        <!-- Customize the log configuration -->